apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ .Release.Name }}
        image: {{ .Values.image.tag }}
        args: 
        - "start "
        - "--hostname "
        - "{{ .Values.ingress.host }}"
        env:
        - name: KEYCLOAK_ADMIN
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-admin-credentials
              key: username
        - name: KEYCLOAK_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-admin-credentials
              key: password
        - name: KC_PROXY
          value: "edge"
        ports:
        - name: http
          containerPort: {{ .Values.port.application }}
        readinessProbe:
          httpGet:
            path: /realms/master
            port:  {{ .Values.port.application }}